body{
    background: lightcoral;
    color:lightcoral;
    min-height: 90vh;
}
a{
    color:#efefef;
}
.flex{display: flex;}
.flex-col-center{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-col-between{
    flex-direction: column;
    justify-content: space-between;
}
.grow{flex-grow: 1;}
.flex-between{
    justify-content: space-between;
}
.quotebox{
    margin-bottom: 30px;
    padding:40px 20px;
    max-width: 400px;

    background:#efefef;
    border-radius: 5px;
}
.quote-text{
    margin-bottom: 10px;
}
.quote-author{
    margin-bottom: 40px;
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
}
.text{
    font-size: 1.5em;
}
i{
    margin-right: 0.4em;
}
.button{
    height:20px;
    background: lightcoral;
    color: #efefef;
    border:0px;
    padding:8px 10px;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}
.b-icon{ margin: 0px;}
.credit{
    color:#efefef;
    font-style: italic;
}